body{
    font-family: 'Indie Flower', cursive;
}
label{
    font-size: 25px;
}
h3{
    font-size: 40px;
}
.Container{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.completesurvey{
    padding: 40px;
    padding-bottom: 30px;
    border: 2px solid rgba(0, 179, 255, 0.453);
}
.Personalien{
    border: 2px solid rgb(21, 255, 0);
    padding: 20px;
    
}
.anreiseBemerkung{
    border: 2px solid rgb(21, 255, 0);
    padding: 20px;
    
}
.ubernachtunEssen{
    border: 2px solid rgb(21, 255, 0);
    padding: 20px;
    
}
table{
    border-spacing: 30px 16px;
}
.bestbutton{
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(0, 204, 255);
}
textarea{
    resize: none;
}
.bodyContainer{
    display: grid;
    grid-template-columns: 100px auto 10px;
    grid-template-rows: 80px 40px auto 80px;
}
header{
    grid-column: 1 / 4;
}
.mainNav{
    background-color:aquamarine;
    grid-column: 1 / 4;
}
.subNav{
    background-color:brown;
}
main{
    background-color:rebeccapurple;
}
aside{
    background-color:aqua
}
footer{
    grid-column: 1 / 4;
}
@media screen and (max-width:1200px) {
    .Container{
        
        background-color:red;
    }
    .Personalien{
        flex-grow: 1;
        margin-bottom: 30px;
    }
    .anreiseBemerkung{
        flex-grow: 1;
        margin-bottom: 30px;
    }
    .ubernachtunEssen{
        flex-grow: 1;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:800px) {
    .Container{
        
        background-color:yellow;
    }
}