

img {
    max-width: 100%;
    height: auto;
}

.container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 300px auto;
}
.containerMain{
    border: #888888 solid 2px;
    height: auto;
    padding: 2cm 2.5cm;
    background-color: rgb(136, 169, 231);
}



.socials {
    display: flex;
    margin-left: 85%;
}

.socials img {
    width: auto;
    height: 60px;
}

th {
    border: #333333 solid 1px;
    padding-left: 3px;

}

td {
    border: black solid 1px;
    padding-left: 3px;

}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

.trainingszeiten {
    text-align: center;
}

.top_tabelle {
    background-color: rgb(132, 132, 132);

    margin-right: 0%;
    border: black solid 1px;
}

a:link {
    color: blue;
}

a:visited {
    color: rgb(65, 125, 247);
}

a:hover {
    color: darkblue;
}

.fahrschule_stadelmann {
    height: 75px;
    width: 250px;
    margin-right: 170px;
}

.mobiliar {
    height: 75px;
    width: 250px;
}

